<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :telefone %>
    <%= f.input :active %>
    <%= f.input :dealtype %>
    <%= f.input :note %>
    <%= f.input :address %>
    <%= f.input :error_unit_id %>
    <%= f.input :acounting_unit_id %>
    <%= f.input :bill_unit_id %>
    <%= f.input :sw_unit_id %>
    <%= f.input :acount_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
