<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :unit_id %>
    <%= f.input :name %>
    <%= f.input :surname %>
    <%= f.input :telephone %>
    <%= f.input :active %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'button-xs' %>
  </div>
<% end %>


