<td> <%= user.unit_id %> </td>
<td> <%= user.name %> </td>
<td> <%= user.surname %> </td>
<td> <%= user.email %> </td>
<td> <%= user.telephone %> </td>
<td> <%= user.active %> </td>
<td> <%= user.note %> </td>
<td> <%= user.role %> </td>
<td> <%= user.unit_id %> </td>
<td> <%= link_to "Edit", edit_user_path(user), :class => 'btn btn-default btn-xs' %>
<td> <%= link_to "Show", user, :class => 'btn btn-default btn-xs' %>
<td> <%= link_to("Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-xs') unless user == current_user %>
</td>


