<div class="container">
	<div class="row">
		<h1>Listing orders</h1>
		<div class="column">
      <table class="table">  
				<thead>
					<tr>
						<th>State</th>
						<th>Date</th>
						<th>Requested</th>
						<th>Received</th>
						<th>Priceini</th>
						<th>Priceend</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @orders.each do |order| %>
						<tr>
						  <td><%= order.state %></td>
						  <td><%= order.date.strftime('%Y/%m/%d') %></td>
						  <td><%= order.requested %></td>
						  <td><%= order.received %></td>
						  <td><%= order.priceini %></td>
						  <td><%= order.priceend %></td>
						  <td><%= link_to 'Suppliers', order_suppliers_path(:order_id => order.id), :class => 'btn btn-default btn-xs' %></td>
						  <td><%= link_to 'Show', order, :class => 'btn btn-default btn-xs' %></td>
						  <td><%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-default btn-xs' %></td>
						  <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs' %></td>

						<% if order.state=='Open' %>
						  <td><%= link_to 'Add products', { :id => order.id, :action => 'open' }, :class => 'btn btn-default btn-xs' %></td>
						<% end %>

						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<%= link_to 'New Order', new_order_path %></div>
</div>

